<div class="sidebar">
  <div class="sidebar-menu">
    <a class="menu-item" routerLink="/home/dashboard" routerLinkActive="active">
      <span>Dashboard</span>
    </a>
    <a class="menu-item" routerLink="/home/customers" routerLinkActive="active">
      <span>Customers</span>
    </a>
    <a class="menu-item" routerLink="/home/partners" routerLinkActive="active">
      <span>Partners</span>
    </a>
    <a class="menu-item" routerLink="/home/reservations" routerLinkActive="active">
      <span>Reservations</span>
    </a>
  </div>
</div>